@media (max-width:768px){
    .site-branding img{
        width: 80px !important;
        height: auto;
    }
}

.main-menu-area{
    background: linear-gradient(125deg, #faf9db 35%, #4bb74a 35%);
}

.main-menu-container a{
    text-transform: capitalize !important;
}

.wrd-slide-title{
    -webkit-text-stroke: 1px  #fff;
}