{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{title}}
{% endblock title %}


{% block stylesheet %}

{% endblock stylesheet %}


{% block content %}
<!-- Slider Section -->
<section class="wrd-home-slider-area">
    <div class="wrd-home-slider-wrapper">
        <div class="wrd-single-slide-item wrd-cover-bg" data-background="{% static 'assets/images/slider/h1-slide-1.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-sm-10 col-11">
                        <div class="wrd-slider-content-wrapper">
                            <div class="wrd-slide-title" data-animation="fadeInUp" data-delay=".5s">
                                <h2>Fruit Tree Seedlings Production & Supply</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrd-single-slide-item wrd-cover-bg" data-background="{% static 'assets/images/slider/h1-slide-2.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wrd-slider-content-wrapper">
                            <div class="wrd-slide-title" data-animation="fadeInUp" data-delay=".5s">
                                <h2>Vegetable Seedlings Production & Supply</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrd-single-slide-item wrd-cover-bg" data-background="{% static 'assets/images/slider/h1-slide-3.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="wrd-slider-content-wrapper">
                            <div class="wrd-slide-title" data-animation="fadeInUp" data-delay=".5s">
                                <h2>Drip Irrigation Sytems.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider Section End-->

<!-- About Us Section-->
<section class="about-us-section wow fadeInUp pt-5" data-wow-duration="1.25s">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="about-left-image">
                    <img src="{% static 'assets/images/about/h1-about-left.jpg' %}" alt="About Left Image">
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="wrd-tabs-wrapper tab-layout-one">
                    <ul class="nav nav-tabs">
                        <li>
                            <a data-toggle="tab" href="#tab-number-1">
                                <div class="wrd-tab-icon-wrapper wrd-font-icon">
                                    <i aria-hidden="true" class="flaticon-shears"></i>
                                </div>
                                <span class="wrd-tab-menu-text wrd-transition">Mission</span>
                            </a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab-number-2" class="active">
                                <div class="wrd-tab-icon-wrapper wrd-font-icon">
                                    <i aria-hidden="true" class="flaticon-leaf-1"></i>
                                </div>
                                <span class="wrd-tab-menu-text wrd-transition">Vision</span>
                            </a>
                        </li>
                    </ul>


                    <div class="tab-content">
                        <div id="tab-number-1" class="wrd-tab-item tab-pane fade">
                            <div class="wrd-tab-content-wrapper">
                                <span class="wrd-tab-subtitle"># Our Mission</span>

                                <div class="tab-description">
                                    <h3 class="wrd-tab-title">Hort-Germinate Farms Mission Statement</h3>

                                    <p>We will display the mission statement of Hort-Germinate Farms here and yes this place is enough even for long statements and acts as an explainer of the mission statement.</p>
                                </div>
                            </div>
                        </div>

                        <div id="tab-number-2" class="wrd-tab-item tab-pane fade in active show">
                            <div class="wrd-tab-content-wrapper">
                                <span class="wrd-tab-subtitle"># Our Vision</span>

                                <div class="tab-description">
                                    <h3 class="wrd-tab-title">Hort-Germinate Farms Vision Statement</h3>

                                    <p>We will display the vision statement of Hort-Germinate Farms here and yes this place is enough even for long statements and acts as an explainer of the vision statement.</p>
                                </div>
                            </div>
                        </div>

                        <div id="tab-number-3" class="wrd-tab-item tab-pane fade">
                            <div class="wrd-tab-content-wrapper">
                                <span class="wrd-tab-subtitle"># What is Our Vision</span>

                                <div class="tab-description">
                                    <h3 class="wrd-tab-title">We Give Awesome Landscape Service.</h3>

                                    <p>It is a long established fact that a reader will be distracted by the thing
                                        readable content of a page when looking at its layout. The point of the usin
                                        that it has a more-or-less normal distribution of letters, as there is opposed to
                                        using making it look like readable English page when we looking at its layout.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Faq Section -->
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="wrd-section-title-wrapper wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-section-title-content">
                        <span class="wrd-section-subtitle"># Question And Answer</span>
                        <h2 class="wrd-section-title">Frequently Asked Question.</h2>
                    </div>
                </div>

                <div class="wrd-accordion-wrapper wow fadeInUp" data-wow-duration="1.25s">
                    <div class="accordion" id="wrd-accordion">

                        <div class="card">
                            <div class="card-header ">
                                <span class="card-title">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false">
                                        01. How to get your services?
                                    </button>
                                </span>
                            </div>

                            <div id="collapse-1" class="collapse" data-parent="#wrd-accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet elite send do eiusmod tempor incididunt labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex equat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header active">
                                <span class="card-title">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="false">
                                        02. What payment methods are available?
                                    </button>
                                </span>
                            </div>

                            <div id="collapse-2" class="collapse" data-parent="#wrd-accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet elite send do eiusmod tempor incididunt labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex equat.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header active">
                                <span class="card-title">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true">
                                        03. Do you works on weekend?
                                    </button>
                                </span>
                            </div>

                            <div id="collapse-3" class="collapse show" data-parent="#wrd-accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet elite send do eiusmod tempor incididunt labore na aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex equat.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="wrd-button-with-image-wrapper wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-button-with-image">
                        <img src="{% static 'assets/images/faq/faq.jpg' %}" alt="Faq">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq Section End -->


<!-- Projects Section -->
<section class="projects-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrd-section-title-wrapper text-center wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-section-title-content">
                        <span class="wrd-section-subtitle"># Recent Projects</span>
                        <h2 class="wrd-section-title">Get Introduced to Some of Our Project</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrd-gallery-item-wrapper">
        <div class="row">
            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-1.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-2.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-3.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-4.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-5.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-gallery-item col-xl-3 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-gallery-content-wrapper wrd-cover-bg" data-background="{% static 'assets/images/projects/project-6.jpg' %}">
                    <div class="wrd-gallery-content">
                        <div class="wrd-table-cell">
                            <a href="">
                                <h4 class="wrd-gallery-title">Project Title</h4>
                            </a>

                            <div class="wrd-gallery-description">
                                <p>Project description which is a long established fact that reader will the readable content.</p>
                            </div>

                            <a href="" class="wrd-gallery-url"><i class="flaticon-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Projects Section End -->

<!-- Team Section -->
<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrd-section-title-wrapper text-center wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-section-title-content">
                        <span class="wrd-section-subtitle"># Team Member</span>
                        <h2 class="wrd-section-title">Dedicated Members</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row team-slider-wrapper wow fadeInUp" data-wow-duration="1.25s">
            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>

            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>

            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>

            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>

            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>

            <div class="wrd-col-lg-5">
                <div class="wrd-single-team-member">
                    <div class="wrd-member-image">
                        <a href="team-details.html">
                            <img src="{% static 'assets/images/team/member.jpg' %}" alt="Team Member">
                        </a>

                        <div class="wrd-member-social">
                            <ul class="wrd-list-style wrd-list-inline">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="wrd-name-designation-wrapper">
                        <a href=""><h3 class="wrd-member-name">Member's Name</h3></a>
                        <span class="wrd-designation">Engineer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Contact Section -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="wrd-section-title-wrapper wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-section-title-content">
                        <span class="wrd-section-subtitle"># Contact With Us</span>
                        <h2 class="wrd-section-title">Can Easily Book An Appointment.</h2>
                    </div>
                </div>

                <a href="tel:+255753720600" class="wrd-button wrd-call-button wow fadeInUp" data-wow-duration="1.25s">Click To Call<i class="flaticon-phone-call"></i></a>
            </div>

            <div class="offset-lg-1 col-lg-6">
                <div class="wrd-contact-form-container wow fadeInUp" data-wow-duration="1.25s">
                    <form id="contact-form" action="#" method="POST">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="wrd-form-control-wrapper">
                                    <input name="name" type="text" placeholder="Name *" required>
                                    <i class="far fa-user"></i>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="wrd-form-control-wrapper">
                                    <input name="email" type="email" placeholder="E-mail *" required>
                                    <i class="far fa-envelope"></i>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="wrd-form-control-wrapper">
                                    <input name="phone" type="text" placeholder="Phone">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                            </div>

                            <div class="col-xl-6 col-md-6">
                                <div class="wrd-form-control-wrapper">
                                    <input name="subject" type="text" placeholder="Subject *">
                                    <i class="flaticon-leaf-2"></i>
                                </div>
                            </div>

                            <div class="col-xl-12">
                                <div class="wrd-form-control-wrapper wrd-textarea">
                                    <textarea name="message" cols="30" rows="10" placeholder="Message *"></textarea>
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </div>

                            <div class="col-xl-12 text-center">
                                <button type="submit">Send Now<i class="flaticon-double-right-arrow"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Recent Post Section -->
<section class="recent-post-section pt-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrd-section-title-wrapper text-center wow fadeInUp" data-wow-duration="1.25s">
                    <div class="wrd-section-title-content">
                        <span class="wrd-section-subtitle"># Recent Posts</span>
                        <h2 class="wrd-section-title">Latest News & Events.</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row wrd-recent-post-wrapper">
            <div class="wrd-recent-post-item col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-recent-post-content">
                    <a href="" class="wrd-recent-post-thumbnail">
                        <img src="{% static 'assets/images/blog/recent-post.jpg' %}" alt="Post Thumbnail">
                    </a>

                    <a href="">
                        <h4 class="wrd-recent-post-title">We Are High Quality Farming Solution From Tanzania.</h4>
                    </a>

                    <div class="wrd-recent-post-meta-read-more">
                        <div class="wrd-recent-post-mata">
                            <ul>
                                <li><i class="far fa-user"></i><span class="author vcard">Eng Shayo</span></li>
                                <li><i class="far fa-calendar-check"></i><span class="entry-date">Sept 02, 2021</span></li>
                            </ul>
                        </div>

                        <div class="wrd-recent-post-read-more">
                            <a href="" class="wrd-button">Read More<i class="flaticon-double-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrd-recent-post-item col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-recent-post-content">
                    <a href="" class="wrd-recent-post-thumbnail">
                        <img src="{% static 'assets/images/blog/recent-post.jpg' %}" alt="Post Thumbnail">
                    </a>

                    <a href="">
                        <h4 class="wrd-recent-post-title">We Are High Quality Farming Solution From Tanzania.</h4>
                    </a>

                    <div class="wrd-recent-post-meta-read-more">
                        <div class="wrd-recent-post-mata">
                            <ul>
                                <li><i class="far fa-user"></i><span class="author vcard">Eng Shayo</span></li>
                                <li><i class="far fa-calendar-check"></i><span class="entry-date">Sept 02, 2021</span></li>
                            </ul>
                        </div>

                        <div class="wrd-recent-post-read-more">
                            <a href="" class="wrd-button">Read More<i class="flaticon-double-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrd-recent-post-item col-lg-4 col-sm-6 wow fadeInUp" data-wow-duration="1.25s">
                <div class="wrd-recent-post-content">
                    <a href="" class="wrd-recent-post-thumbnail">
                        <img src="{% static 'assets/images/blog/recent-post.jpg' %}" alt="Post Thumbnail">
                    </a>

                    <a href="">
                        <h4 class="wrd-recent-post-title">We Are High Quality Farming Solution From Tanzania.</h4>
                    </a>

                    <div class="wrd-recent-post-meta-read-more">
                        <div class="wrd-recent-post-mata">
                            <ul>
                                <li><i class="far fa-user"></i><span class="author vcard">Eng Shayo</span></li>
                                <li><i class="far fa-calendar-check"></i><span class="entry-date">Sept 02, 2021</span></li>
                            </ul>
                        </div>

                        <div class="wrd-recent-post-read-more">
                            <a href="" class="wrd-button">Read More<i class="flaticon-double-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Recent Post Section End -->
{% endblock content %}


{% block javascript %}
{% endblock javascript %}
    
    